In [2]:
# Importamos las librerias
import pandas as pd

In [4]:
df_pbi = pd.read_excel('Ejercicio_set_de_datos_PBI.xlsx', sheet_name='Datos_consumo')

In [6]:
df_pbi.head()

,Fecha periodo,Periodo Fis,Sociedad,Tipo de Cliente,codigo sector,Unidad,Consumo Mes,Segmento Tarifario
0,2018-12-01,201812,MX02,IND,NaN,GJ,248832.124,GCG1
1,2018-11-01,201811,MX02,IND,I37,GJ,617.976,GCG1
2,2018-11-01,201811,MX02,IND,I26,GJ,450.708,GCG1
3,2018-11-01,201811,MX02,IND,I31,GJ,1069.373,GCG1
4,2018-09-01,201809,MX02,IND,I42,GJ,7607.526,GCG1

In [8]:
df_pbi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7540 entries, 0 to 7539
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha periodo       7540 non-null   datetime64[ns]
 1   Periodo Fis         7540 non-null   int64
 2   Sociedad            7540 non-null   object
 3   Tipo de Cliente     7540 non-null   object
 4   codigo sector       7391 non-null   object
 5   Unidad              7540 non-null   object
 6   Consumo Mes         7540 non-null   float64
 7   Segmento Tarifario  6797 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 471.4+ KB

In [12]:
nuevos_nombres = []
for nombres_viejos in df_pbi.columns:
    sin_espacios = nombres_viejos.replace(' ','_')
    nuevos_nombres.append(sin_espacios)

In [18]:
df_pbi.columns = nuevos_nombres

Index(['Fecha_periodo', 'Periodo_Fis', 'Sociedad', 'Tipo_de_Cliente',
       'codigo_sector', 'Unidad', 'Consumo_Mes', 'Segmento_Tarifario'],
      dtype='object')

In [24]:
df_pbi.rename(columns={'Periodo_Fis': 'Periodo', 'codigo_sector': 'Codigo_sector'}, inplace=True)

In [26]:
df_pbi.columns

Index(['Fecha_periodo', 'Periodo', 'Sociedad', 'Tipo_de_Cliente',
       'Codigo_sector', 'Unidad', 'Consumo_Mes', 'Segmento_Tarifario'],
      dtype='object')

In [ ]:
df_p